<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentorLink_Project"
        tools:targetApi="31">
        <activity
            android:name=".features.proposal.view.PendingDetailsProposalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.dashboard.StudentDashboardActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".features.proposal.view.CreateProposalActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".features.group.view.GroupDetailActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".features.proposal.view.ProposalDetailActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".features.dashboard.LectureDashboardActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".features.login.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".features.proposal.view.RejectedDetailsProposalActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".features.proposal.view.ApprovedDetailsProposalActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".features.group.CreateGroupActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>